<%= form_for([@threat, @mitigation], :html => {:class => "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :title, {:class=>"col-sm-2 control-label"} %>
    <div class="col-sm-5">
      <%= f.text_field :title, {:class=>"form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, {:class=>"col-sm-2 control-label"}%><br>
    <div class="col-sm-5">
      <%= f.text_area :description, {:class=>"form-control"} %>
     </div>
  </div>
  <div class="form-group">
    <%= f.label :cons, {:class=>"col-sm-2 control-label"}%><br>
    <div class="col-sm-5">
      <%= f.text_area :cons, {:class=>"form-control"} %>
     </div>
  </div>
  <div class="form-group">
   <div class='col-sm-2 col-sm-offset-2'>
     <%= f.submit 'Save', {:class=>"btn btn-default"} %>
   </div>
  </div>
<% end %>


