<ul class="list-group" >
  <li class="list-group-item list-group-item-info">
    <strong><%= requirement.threat.title %></strong>
  </li>
  <li class="list-group-item">
    <%= requirement.threat.description %>
  </li>
  <% if requirement.riskaccept %>
    <li class="list-group-item list-group-item-warning">
      <strong>Risk Accept</strong>
    </li>
  <% else %>
    <li class="list-group-item list-group-item-success">
      <strong><%= requirement.solution.title %></strong>
    </li>
    <li class="list-group-item">
      <%= requirement.solution.description %>
    </li>
    <% if not requirement.solution.cons.nil? %>
      <li class="list-group-item">
        <%= requirement.solution.cons %>
      </li>
    <% end %>
  <% end %>
  <li class="list-group-item">
    <%= link_to 'Edit', edit_project_requirement_path(requirement.project,requirement), {:class=>"btn btn-default"}%>
    <%= link_to 'Remove', [requirement.project, requirement], method: :delete, data: {confirm: 'Are you sure?'}, :class=>"btn btn-default" %>
  </li>
</ul>
