<%= form_for(@threat, :html => {:class => "form-horizontal"}) do |f| %>
  <div class="form-group">
    <%= f.label :title, {:class=>"col-sm-2 control-label"}%>
    <div class="col-sm-5">
      <%= f.text_field :title, {:class=>"form-control"}%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category, {:class=>"col-sm-2 control-label"}%>
    <div class="col-sm-5">
      <%= f.select :category, Threat::CATEGORY, {},{:class=>"form-control"}%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, {:class=>"col-sm-2 control-label"}%>
    <div class="col-sm-5">
      <%= f.text_area :description, {:class=>"form-control"} %>
    </div>
  </div>
  <div class=""form-group">
   <div class='col-sm-2 text-right'>
     <%= link_to 'Back', :back, {:class=>"btn btn-default"} %>
   </div>
    <div class="col-sm-5">
      <%= f.submit 'Save', {:class=>"btn btn-default"} %>
    </div>
  </div>
<% end %>
