<h1>Threats</h1>
<div class='text-right'>
<%= link_to 'New Threat', new_threat_path, class: "btn btn-default" %>  
</div>

<% Threat::CATEGORY.each do |k, v| %>
  <% threats = @threats.where(category: v) %>
  <% if threats.size > 0 %>

<table class="table">
  <thead>
    <tr>
      <th ><%= k %></th>
      <th class='col-sm-1 col-xs-1' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% threats.each do |threat| %>
      <tr>
        <td><%= threat.title %></td>
        <td><%= link_to ' ', threat, {:class=> "glyphicon glyphicon-search"}%></td>
        <td><%= link_to ' ', edit_threat_path(threat),{:class=>"glyphicon glyphicon-pencil"} %></td>
        <td><%= link_to ' ', threat, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    
  <% end %>
<% end %>
