<h1>Threat</h1>

<%= render @threat %>

<%= link_to 'Back', threats_path, {:class=>"btn btn-default"} %>
<%= link_to 'Edit', edit_threat_path(@threat), {:class=>"btn btn-default"} %>


<h2>Mitigations</h2>
<%= render @threat.mitigations %>

<h3>Add a Mitigation:</h3>
<%= render 'mitigations/form' %>
