<p id="notice"><%= notice %></p>

<%= render @threat %>

<h2>Solutions</h2>
<%= render @threat.solutions %>

<h3>Add a Solution:</h3>
<%= render 'solutions/form' %>

<%= link_to 'Edit', edit_threat_path(@threat) %> |
<%= link_to 'Back', threats_path %>
