<h1>Projects</h1>
<div class="text-right">
<%= link_to 'New Project', new_project_path ,:class=>"btn btn-default"%>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th class='col-sm-1 col-xs-1' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= link_to ' ', project ,{:class=> "glyphicon glyphicon-search"}%></td>
        <td><%= link_to ' ', edit_project_path(project),{:class=>"glyphicon glyphicon-pencil"} %></td>
        <td><%= link_to '', project,method: :delete, data: { confirm: 'Are you sure?' }, :class=> "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

