<h1> Project</h1>

<h3>Title: <small><%= @project.title %></small> </h3>


<h3>
  Description:
  <small>
  <%= @project.description %>
  </small>
</h3>

<div >
  <%= link_to 'Back', :back, {:class=>"btn btn-default"} %>
  <%= link_to 'Edit', edit_project_path(@project), {:class=>"btn btn-default"} %> 
</div>
</br>

<% if @project.risks.size > 0 %>
  <h3> Risks</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Threat</th>
        <th class='col-sm-1 col-xs-1' colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @project.risks.each do |risk| %>
        <tr>
          <td><%= risk.threat.title %></td>
          <td><%= link_to ' ', [@project, risk] ,{:class=> "glyphicon glyphicon-search"}%></td>
          <td><%= link_to ' ', edit_project_risk_path(@project, risk),{:class=>"glyphicon glyphicon-pencil"} %></td>
          <td><%= link_to '' , [@project, risk] ,method: :delete, data: { confirm: 'Are you sure?' }, :class=> "glyphicon glyphicon-trash" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @threats.size > 0 %>
  <h3>Add a Security Risk:</h3>
  <%= form_for([@project, @risk], :html=>{:class => "form-inline"}) do |f| %>
    <div class="form-group">
      <%= f.label "Threat:", {:class=>"control-label"} %>
      <%= f.select :threat_id, @threats.collect{ |t| [t.title, t.id]}, {},{:class=>"form-control"} %>
      <%= f.submit 'Add risk', {:class=>"btn btn-default"} %>
    </div>
  <% end %>
<% end%>

