<ul class="list-group" >
  <li class="list-group-item list-group-item-info">
    <strong><div class="col-sm-2">Threat:</div><%= risk.threat.title %></strong>
  </li>
  <li class="list-group-item">
    <div class="col-sm-2">Description:</div>
    <%= risk.threat.description %>
  </li>
  <li class="list-group-item">
    <div class="col-sm-1 col-xs-3">Probability:</div>
    <div class="col-sm-1 col-xs-9"><%= (number_with_precision(@risk.probability, :precision => 0) || 0) %></div>
    <div class="col-sm-1 col-xs-3">Impact:</div>
    <div class="col-sm-1 col-xs-9"><%= (number_with_precision(@risk.impact, :precision => 0) || 0) %></div>
    <div class="col-sm-1 col-xs-3">Exposure:</div>
    <div class="col-sm-1 col-xs-9"><%= (number_with_precision(@risk.exposure, :precision => 0) || 0) %></div>
    &nbsp;
  </li> 
  <% if risk.riskaccept %>
    <li class="list-group-item list-group-item-warning">
      <strong>Risk Accept</strong>
    </li>
  <% else %>
    <li class="list-group-item list-group-item-success">
      <strong><div class="col-sm-2">Mitigation:</div><%= risk.mitigation.title %></strong>
    </li>
    <li class="list-group-item">
      <div class="col-sm-2">Description:</div>
      <%= risk.mitigation.description %>
    </li>
    <% if not risk.mitigation.cons.nil? %>
      <li class="list-group-item">
        <div class="col-sm-2">Cons:</div>
        <%= risk.mitigation.cons %>
      </li>
    <% end %>
  <% end %>
</ul>
