<h1> Editing security risk</h1>
<h2>
  <strong>Project:</strong>
  <small> <%= @risk.project.title %></small>
</h2>
<h3> Threat </h3>
<%=render @risk.threat %>

<%= form_for([@risk.project, @risk], :html => {:class => "form-horizontal"}) do |f| %>

  <div class="form-group">
    <%= f.label :probability, {:class=>"col-sm-1 control-label"} %>
    <div class="col-sm-1">
      <%= f.number_field :probability, {:class=>"form-control", :value => (number_with_precision(@risk.probability, :precision => 0) || 0)}%>
    </div>
    <%= f.label :impact, {:class=>"col-sm-1 control-label"} %>
    <div class="col-sm-1">
      <%= f.number_field :impact, {:class=>"form-control", :value => (number_with_precision(@risk.impact, :precision => 0) || 0)} %>
    </div>
    <%= f.label :exposure, {:class=>"col-sm-1 control-label"} %>
    <div class="col-sm-1">
      <%= f.number_field :exposure, {:class=>"form-control", :value => (number_with_precision(@risk.exposure, :precision => 0) || 0)}%>
    </div>
  </div>
<% if @risk.threat.mitigations.size > 0 %>
  <h3> Mitigations </h3>
<% end %>
    <% @risk.threat.mitigations.each do |mitigation|%>
    <div class="check_box">
      <label>
        <%= f.check_box :mitigation_ids, {:multiple => true}, mitigation.id, nil %>
        <%= mitigation.title %>
      </label>
   </div>
   <% end %>

    <%= f.submit'Save', {:class=>"btn btn-default"} %>
<% end %>
<br/>
<%= render @mitigations %>
<%= link_to 'Back', project_risk_path(@risk.project, @risk), {:class=>"btn btn-default"} %>
</div>