<h1> Editing security risk</h1>
<h2>
  <strong>Project:</strong>
  <small> <%= @risk.project.title %></small>
</h2>
<h3> Threat </h3>
<%=render @risk.threat %>

<%= form_for([@risk.project, @risk], :html => {:class => "form-horizontal"}) do |f| %>

  <div class="form-group">
    <%= f.label :probability, {:class=>"col-sm-1 control-label"} %>
    <div class="col-sm-1">
      <%= f.number_field :probability, {:class=>"form-control", :value => (number_with_precision(@risk.probability, :precision => 0) || 0)}%>
    </div>
    <%= f.label :impact, {:class=>"col-sm-1 control-label"} %>
    <div class="col-sm-1">
      <%= f.number_field :impact, {:class=>"form-control", :value => (number_with_precision(@risk.impact, :precision => 0) || 0)} %>
    </div>
    <%= f.label :exposure, {:class=>"col-sm-1 control-label"} %>
    <div class="col-sm-1">
      <%= f.number_field :exposure, {:class=>"form-control", :value => (number_with_precision(@risk.exposure, :precision => 0) || 0)}%>
    </div>
  </div>

<h3> Mitigation </h3>
  <div class="form-group">
    <%= f.label :mitigation, {:class=>"col-sm-2 control-label"} %>
    <div class="col-sm-5">
      <%= f.select :mitigation_id, @mitigations.collect {|s| [s.title,s.id]}, {}, {:class=>"form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="checkbox col-sm-2 text-right">
      <%= f.check_box :riskaccept %>Risk accept
    </div>
    <%= f.submit'Save', {:class=>"btn btn-default"} %>
  </div>
<% end %>
<%= render @mitigations %>
<%= link_to 'Back', project_path(@risk.project), {:class=>"btn btn-default"} %>
