<!DOCTYPE html>
<html>
<head>
  <title>Secreq</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
 <div class="container">
   <div class="navbar-header">
     <%= link_to "Security Requirements", root_path, {:class=>"navbar-brand"} %>
   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
       <li class="<%= active_class(projects_path) %>">
         <%= link_to "Projects", projects_path %>
       </li>
       <li class="<%= active_class(threats_path) %>">
         <%= link_to "Threats", threats_path %>
       </li>
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</nav>

<div class='container size'>
  <%= yield %>
</div>
</body>
</html>
